@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

:root {
  --accent-color: #31f711;
  --accent-low-op: #30f71190;
  --acc-navy: #0a192f;
  --acc-lightNavy: #112240;
  --acc-lightestNavy: #233554;
  --acc-acSlate: #8892b0;
  --acc-lightSlate: #a8b2d1;
  --acc-lightestSlate: #ccd6f6;
  --acc-acWhite: #e6f1ff;
  --acc-grn: #64ffda;
}

body {
  background-image: url("https://source.unsplash.com/1600x900/?weather");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.S_Underline {
  @apply after:absolute after:left-0 after:-bottom-1 after:h-[0.1875rem] after:w-0 after:bg-[#30f71190] after:transition-all after:duration-500 after:content-[''];
}

.textShadow {
  text-shadow: 3px 3px 4px #000000;
}
